.movie_overview {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    margin-top: 10px;
}

.medal {
    position: absolute;
    margin-top: -56px;
    margin-left: -50px;
    width: 100px;
}